<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net45" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="71.0.0" targetFramework="net45" />
  <package id="Firefox" version="3.6.6" targetFramework="net45" />
  <package id="LtGt" version="1.0.1" targetFramework="net45" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net45" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net45" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net45" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net45" />
  <package id="MySqlBackup.NET" version="2.0.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net45" />
  <package id="Sprache" version="2.2.0" targetFramework="net45" />
  <package id="TextBox" version="1.3.12" targetFramework="net45" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.7.1" targetFramework="net45" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="11.2.0" targetFramework="net45" />
  <package id="VisioForge.DotNet.MediaPlayer.TRIAL" version="11.2.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Core" version="3.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Forms" version="3.0.0" targetFramework="net45" />
  <package id="VLC.Native" version="3.0.5" targetFramework="net45" />
  <package id="YoutubeExplode" version="4.7.6" targetFramework="net45" />
</packages>